<label for="name">用户名:</label>
<input type="text" id="name" name="user.name" value="<%= user.name() %>" />
<span style="color: red"><%= error(user, 'name', locale) %></span>

<p />

<label for="password">密&nbsp;&nbsp;码:</label>
<input type="password" id="password" name="user.password" value="<%= user.password() %>" />
<span style="color: red"><%= error(user, 'password', locale) %></span>

<p />

<label for="email">Email:</label>
<input type="text" id="email" name="user.email" value="<%= user.email() %>" />
<span style="color: red"><%= error(user, 'email', locale) %></span>

<p />

<input type="submit" value="提交" />
<a href="/admin/users">返回</a>
